<main>
  <div class="container">
    <span class="github">Github</span> <span class="search"> Search</span>
  </div>
  <div class="container">
    <input type="text" class="main-input"><fa class="search-icon" name="search"></fa>
  </div>
</main>