main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    flex-direction: column;
}

.container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.github{
    font-weight: bold;
}

.search{
    font-style: italic;
}

.main-input{
    font-size: 40px;
    border: solid 1px #333;
    padding: 10px;
    width: 60%;
    text-align: center;
    color: #333;
}

.search-icon{
   
    padding: 0px 20px 0px 20px;
    background-color: var(--search-button-background);
    color: var(--search-button-color);
    border: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: var(--search-button-background);
    cursor: pointer;
}
